{% load ui_tags %}
{% if page_obj.has_other_pages %}
<div class="pagination">
  {% if page_obj.has_previous %}
    <a class="page-item" href="?{% query_transform page=page_obj.previous_page_number %}">
      &larr;
    </a>
  {% else %}
    <span class="page-item disabled">&larr;</span>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <span class="page-item active">{{ num }}</span>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="page-item" href="?{% query_transform page=num %}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="page-item" href="?{% query_transform page=page_obj.next_page_number %}">
      &rarr;
    </a>
  {% else %}
    <span class="page-item disabled">&rarr;</span>
  {% endif %}
</div>

<div class="text-center text-xs text-muted mt-8">
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  &middot; {{ page_obj.paginator.count }} total records
</div>
{% endif %}
